// sets constants to be used by styles around the app

$primary-color: rgb(78, 78, 78);
$secondary-color: rgb(79, 188, 252);

$header-height: 50px;
$header-font-size: 20px;

$main-width: 800px;
$h-padding: calc((100vw - #{$main-width}) / 2);

$font-size-normal: 16px;
$font-size-input: 24px;
$font-size-heading: 40px;

$vertical-space-small: 16px;
$vertical-space-medium: 32px;

// mixins

@mixin v-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@mixin header-button {
    cursor: pointer;

    &:hover {
        color: darken($secondary-color, 10%);
    }
}

@mixin form-element {
    display: block;
    padding: 5px;
    margin-bottom: $vertical-space-small;
    
    border-radius: 5px;
    border-color: lighten($primary-color, 20%);

    &:focus {
        border-color: $secondary-color;
    }
}
